body {
	margin: 0;
	height: 100%;
    font-family: "Arial";
    background-image: linear-gradient(to bottom right, rgb(97, 0, 97), rgb(107, 0, 0));
    background-attachment: fixed;
    color: White;
}